.hamburgerContainer {
  position: absolute;
  top: 10%;
  left: 0;
  right: 31%;
  /* margin: 5; */
}

.navContiner {
  display: flex;
  height: 10vh;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.navUl {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navLi {
  padding: 0 45px;
  text-decoration: none;
}

a {
  text-decoration: none;
}