.hamburgerContainer {
  position: absolute;
  left: 0%;
  top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 99;
  width: 10vw;
  height: 40px;
  opacity: 1;
  cursor: pointer;
}

.navContiner {
  display: flex;
  height: 10vh;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.navMobile {
  height: 10vh;
  width: 100vw;
}

.navUl {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navLi {
  padding: 0 45px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a {
  text-decoration: none;

}

