.hamburgerContainer {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
}

.navContiner {
  display: flex;
  height: 10vh;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.navMobile {
  /* display: block; */
  height: 10vh;
  background: yellow;
}

.navUl {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.navLi {
  padding: 0 45px;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a {
  text-decoration: none;

}

