* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
}

.colorChoise {
  height: 170px;
  width: 100%;
}

.contactFormBtn {
  height: 120px;
  width: 150px;
  border: none;
  background: #333;
  color: white;
  margin: 10px;
  padding: 5px;
  font-size: 1.0em;
}

.homePageCenterDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20vw;
}

.estContainer {
  height: 2px;
  width: 100%;
  background: black;
  align-self: center;
  margin: 20px;
}

.estText {
  height: 84px;
  width: 400px;
  background: #424242;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
}
.totalDiv {
  display: flex;
  flex-direction: column;
  align-items:  flex-end;
  padding-right: 20px;
}

.divdivider {
  display: none;
}

.signinform {
  display: flex;
  flex-direction: column;
  line-height: 60px;
}
.signinform input {
  border: 1px solid #333;
}

.signupform {
  display: flex;
  flex-direction: column;
  line-height: 60px;
}

.signupform input {
  border: 1px solid #333;
}

.cartContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.itemContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center
}
.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 100%; */
  /* padding-top: 100px; */
  /* margin-left: 50px; */
  /* line-height: 2.2em; */
}
.checkoutContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding-left: 20px;
  /* background: yellowgreen; */
}
.signInBtn {
  border: none;
  height: 50px;
  width: 200px;
  background: black;
  color: white;
  font-size: 20px;
  margin-top: 10px;
}
.itemSelect {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.itemDropdown {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .logoName {
    /* float: right; */
    /* background: red; */
    text-align: center;
    width: 90vw;
  }
  .sidebar {
    display: none;
  }
  .shirt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .itemsContinerDiv {
    flex-wrap: wrap;
    /* padding: 20px; */
  }
  .homePageBackgroundImg {
    display: none;
  }
  .homePagecontainer {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: lightcoral url('https://images.pexels.com/photos/1078958/pexels-photo-1078958.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500') no-repeat
  }
  .homepagetext {
    background: white;
    margin: 0 auto;
    width: 35vw;
    color: black;
    font-size: 1.5em;
    border-radius: 5px;
  }
  .homepageest {
    background: white;
    margin: 0 auto;
    width: 100vw;
    color: black;
    font-size: 2.0em;
  }
  .estContainer {
    margin: 0 5 0 auto;
  }
  .estText {
    background: white;
    color: black;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
  }
  .homePageCenterDiv {
    margin: 0;
    width: 300px;
  }
  .divdivider {
    display: none;
  }
  .checkoutContainer {
    display: flex;
    flex-direction: column;

  }
  .signupform {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .signupform input {
    border: 1px solid #333;
  }
  .signinform {
    display: flex;
    flex-direction: column;
  }
  .signinform input {
    border: 1px solid #333;
  }
  .signininfo {
    margin: 0;
  }
  .cartContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .itemContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .contactForm input {
    /* display: flex; */
    /* background: red; */
    border: 1px solid black;
  }
  .contactForm textarea {
    /* display: flex; */
    /* background: red; */
    border: 1px solid black;
  }
  .loginContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
    line-height: 1.0em;
    /* margin-bottom: 0px; */
  }

}

@media only screen and (max-width:400px),
only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  .contactFormBtn {
    height: 50px;
    width: 150px;
    border: none;
    background: #333;
    color: white;
    margin: 10px;
    padding: 5px;
    font-size: 1.0em;
  }
  .homepagetext {
    font-size: 20px;
  }
  .estText {
    font-size: 20px;
  }
  .itemSelect {
    display: flex;
  }
  .itemContainerDiv {
    display: flex;
    height: 100vh;
  }
  .checkoutContainer {
    height: 100%;
    width: 100vw;
    margin-top: 20px;
  }
  .loginContainer {
    width: 100vw;
    line-height: 10px;
  }
  .signupform {
    width: 100vw;
    height: 40vh;
    margin-bottom: 40px;
  }
  .signinform {
    margin-top: 30px;
    height: 60vh;
  }
  .signinform input {
    display: flex;
    flex-direction: row;
  }

  .signInBtn {
    border: none;
    height: 50px;
    width: 200px;
    background: black;
    color: white;
    font-size: 20px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 400px) {

  .cartContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .itemContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .homepagetext {
    width: 45vw;

  }
}
.navMobileMenuLI {
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: center;
  padding: 10px;
  /* align-content: center; */
}
.navMobileMenuContainer {
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  z-index: 98;
  width: 100vw;
}

.navMobileMenuLI a:hover {
  background: #333;
  color: white;
}

.navMobileMenuLI a {
  width: 100vw;
}

.cartNumber {
  position: absolute;
  right: 38%;
  background: red;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  color: white;
}

.navMobileMenuUL {
  background: white;
  width: 100%;
  height: 200px;
  z-index: 98;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}


.line1 {
  height: 2px;
  width: 20px;
  background: purple;
  position: relative;
  margin: 5px;
}

.contactInput {
  width: 40%;
  height: 25px;
  font-size: 1.0em;
  border: 1px solid black;
}

.contactTextarea{
  width: 40%;
  height: 200px;
  /* font-size: 1.0em; */
  border: 1px solid black;
}

.inputHeading {
  display: flex;
  flex-direction: row;
  font-size: 1.0em;
  /* align-self: flex-end*/
}

.email-link {
  color: blue;
}

.side-list-items {
  margin: 10px;
  font-size: 25px;
}

/* mens page */

.mens-container {
  display: grid;
  grid-template-columns: 25vw 75vw;
  margin: 0;
  grid-gap: 10px;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  margin-top: 0;
  min-width: 200px;
  height: 100%;
  border-right: 1px solid black;
}

.mens-sidebar {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.item-container {
  display: flex;
  flex-direction: column;
  width: 200px;
}


.shirt-imgs{
  height: 250px;
  width: 200px;
}

.shirt-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
  width: 100%;
}


.shirt-colors {
  border-radius: 50%;
  margin-right: 5px;
}

.shirt-colors:hover {
  cursor: pointer;
}



a:active {
  color: black;
}

a{
  color: black;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.mens-sidebar:hover {
  cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}