* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
}

.line1 {
  height: 11px;
  width: 15px;
  color: purple;
}

.line2 {
  height: 11px;
  width: 5px;
  color: purple;
}

/* mens page */

.mens-container {
  display: grid;
  grid-template-columns: 25vw 75vw;
  margin: 0;
  grid-gap: 10px;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  margin-top: 0;
  min-width: 200px;
  height: 100%;
  border-right: 1px solid black;
}

.mens-sidebar {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.item-container {
  display: flex;
  flex-direction: column;
  width: 200px;
}


.shirt-imgs{
  height: 250px;
  width: 200px;
}

.shirt-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
  width: 100%;
}


.shirt-colors {
  border-radius: 50%;
  margin-right: 5px;
}

.shirt-colors:hover {
  cursor: pointer;
}



a:active {
  color: black;
}

a{
  color: black;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.mens-sidebar:hover {
  cursor: pointer;
}

