* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
}

.line1 {
  height: 14px;
  width: 15px;
  color: black;
}

.line2 {
  height: 14px;
  width: 15px;
  color: black;
}